---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=client%20user:jwaterfaucett&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1427328515'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"total_count":5,"incomplete_results":false,"items":[{"id":19483583,"name":"bugherd_client","full_name":"jwaterfaucett/bugherd_client","owner":{"login":"jwaterfaucett","id":916309,"avatar_url":"https://avatars.githubusercontent.com/u/916309?v=3","gravatar_id":"","url":"https://api.github.com/users/jwaterfaucett","html_url":"https://github.com/jwaterfaucett","followers_url":"https://api.github.com/users/jwaterfaucett/followers","following_url":"https://api.github.com/users/jwaterfaucett/following{/other_user}","gists_url":"https://api.github.com/users/jwaterfaucett/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaterfaucett/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaterfaucett/subscriptions","organizations_url":"https://api.github.com/users/jwaterfaucett/orgs","repos_url":"https://api.github.com/users/jwaterfaucett/repos","events_url":"https://api.github.com/users/jwaterfaucett/events{/privacy}","received_events_url":"https://api.github.com/users/jwaterfaucett/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jwaterfaucett/bugherd_client","description":"Ruby
        Client for the BugHerd REST API","fork":false,"url":"https://api.github.com/repos/jwaterfaucett/bugherd_client","forks_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/forks","keys_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/teams","hooks_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/hooks","issue_events_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/issues/events{/number}","events_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/events","assignees_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/assignees{/user}","branches_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/branches{/branch}","tags_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/tags","blobs_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/git/refs{/sha}","trees_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/statuses/{sha}","languages_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/languages","stargazers_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/stargazers","contributors_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/contributors","subscribers_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/subscribers","subscription_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/subscription","commits_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/commits{/sha}","git_commits_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/git/commits{/sha}","comments_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/comments{/number}","issue_comment_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/issues/comments{/number}","contents_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/contents/{+path}","compare_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/merges","archive_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/downloads","issues_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/issues{/number}","pulls_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/pulls{/number}","milestones_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/milestones{/number}","notifications_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/labels{/name}","releases_url":"https://api.github.com/repos/jwaterfaucett/bugherd_client/releases{/id}","created_at":"2014-05-06T06:31:26Z","updated_at":"2015-01-15T11:43:57Z","pushed_at":"2015-01-15T11:44:06Z","git_url":"git://github.com/jwaterfaucett/bugherd_client.git","ssh_url":"git@github.com:jwaterfaucett/bugherd_client.git","clone_url":"https://github.com/jwaterfaucett/bugherd_client.git","svn_url":"https://github.com/jwaterfaucett/bugherd_client","homepage":"","size":548,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master","score":2.7984922},{"id":13445307,"name":"rodzilla","full_name":"jwaterfaucett/rodzilla","owner":{"login":"jwaterfaucett","id":916309,"avatar_url":"https://avatars.githubusercontent.com/u/916309?v=3","gravatar_id":"","url":"https://api.github.com/users/jwaterfaucett","html_url":"https://github.com/jwaterfaucett","followers_url":"https://api.github.com/users/jwaterfaucett/followers","following_url":"https://api.github.com/users/jwaterfaucett/following{/other_user}","gists_url":"https://api.github.com/use[...]
