---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/users?q=morred%20type:User
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1421670158'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"total_count":3,"incomplete_results":false,"items":[{"login":"Morred","id":4008608,"avatar_url":"https://avatars.githubusercontent.com/u/4008608?v=3","gravatar_id":"","url":"https://api.github.com/users/Morred","html_url":"https://github.com/Morred","followers_url":"https://api.github.com/users/Morred/followers","following_url":"https://api.github.com/users/Morred/following{/other_user}","gists_url":"https://api.github.com/users/Morred/gists{/gist_id}","starred_url":"https://api.github.com/users/Morred/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Morred/subscriptions","organizations_url":"https://api.github.com/users/Morred/orgs","repos_url":"https://api.github.com/users/Morred/repos","events_url":"https://api.github.com/users/Morred/events{/privacy}","received_events_url":"https://api.github.com/users/Morred/received_events","type":"User","site_admin":false,"score":61.729008},{"login":"morredilma","id":9913642,"avatar_url":"https://avatars.githubusercontent.com/u/9913642?v=3","gravatar_id":"","url":"https://api.github.com/users/morredilma","html_url":"https://github.com/morredilma","followers_url":"https://api.github.com/users/morredilma/followers","following_url":"https://api.github.com/users/morredilma/following{/other_user}","gists_url":"https://api.github.com/users/morredilma/gists{/gist_id}","starred_url":"https://api.github.com/users/morredilma/starr[...]
